
@{
    ViewBag.Title = "Contact";
}

<h2 class="text-center mb-5 contact-title fw-bold">Contatti</h2>

<div class="container contact-container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="mb-3">Dove siamo</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3043.718307750275!2d15.653559775637591!3d40.282007271461524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13392df85f26e00f%3A0xe862d4939e7c1773!2sLe%20Barbier!5e0!3m2!1sit!2sit!4v1719390930069!5m2!1sit!2sit" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <h3 class=" mb-3">Informazioni di contatto</h3>
            <p><strong>Indirizzo:</strong> Via Giuseppe Garibaldi, 121, 84033 Montesano Scalo SA</p>
            <p ><strong>Telefono:</strong> +39 333 333 3333</p>
            <p ><strong>Email:</strong> info@example.com</p>
        </div>
    </div>
</div>

<style>
    .contact-title,
    .contact-container {
        font-family: "Cormorant Garamond", serif;
    }
</style>